<header class="top-menu">
  <a routerLink="/" class="brand">Chat</a>

  <nav>
    <ng-container *ngIf="user() as u; else anonymous">
      <a routerLink="/rooms" routerLinkActive="active">Rooms</a>
      <a routerLink="/invitations" routerLinkActive="active">
        Invitations
        <span *ngIf="pendingInvites() > 0" class="badge">{{ pendingInvites() }}</span>
      </a>
      <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
      <a routerLink="/friend-requests" routerLinkActive="active">
        Requests
        <span *ngIf="pendingFriendRequests() > 0" class="badge">{{ pendingFriendRequests() }}</span>
      </a>
      <a routerLink="/dialogs" routerLinkActive="active">DMs</a>
      <a routerLink="/account" routerLinkActive="active">Account</a>
      <a routerLink="/sessions" routerLinkActive="active">Sessions</a>
      <span class="spacer"></span>
      <span class="signed-in">signed in as <strong>{{ u.username }}</strong></span>
      <button type="button" (click)="logout()">Sign out</button>
    </ng-container>
    <ng-template #anonymous>
      <span class="spacer"></span>
      <a routerLink="/login">Sign in</a>
      <a routerLink="/register">Register</a>
    </ng-template>
  </nav>
</header>
