<div class="row">
  <app-avatar *ngIf="!mine" class="row-avatar" [name]="message.authorUsername" [small]="true"></app-avatar>

  <article class="bubble" [class.deleted]="message.deletedAt">
    <div *ngIf="!mine" class="sender">{{ message.authorUsername }}</div>

    <div *ngIf="message.replyTo as r" class="quote">
      <span class="quote-author">{{ r.authorUsername }}</span>
      <span class="quote-body">{{ r.bodyPreview ?? '(deleted)' }}</span>
    </div>

    <ng-container *ngIf="!message.deletedAt; else deletedTpl">
      <ng-container *ngIf="!editing(); else editTpl">
        <p *ngIf="message.body" class="body">{{ message.body }}</p>
        <div *ngIf="message.attachments?.length" class="attachments">
          <app-attachment-view
            *ngFor="let a of message.attachments"
            [attachment]="a">
          </app-attachment-view>
        </div>

        <div class="meta">
          <span *ngIf="message.editedAt" class="edited">edited</span>
          <span class="time">{{ message.createdAt | date: 'shortTime' }}</span>
        </div>

        <div class="actions">
          <button type="button" class="icon-btn" title="Reply" (click)="emitReply()">↩</button>
          <button *ngIf="canEdit" type="button" class="icon-btn" title="Edit" (click)="startEdit()">✎</button>
          <button *ngIf="canDelete" type="button" class="icon-btn danger" title="Delete" (click)="deleteMessage()">🗑</button>
        </div>
      </ng-container>

      <ng-template #editTpl>
        <textarea class="edit-area" [formControl]="draft" rows="2" maxlength="3072"></textarea>
        <div *ngIf="error() as msg" class="error small">{{ msg }}</div>
        <div class="edit-actions">
          <button type="button" class="pill" (click)="saveEdit()" [disabled]="draft.invalid">Save</button>
          <button type="button" class="pill subtle" (click)="cancelEdit()">Cancel</button>
        </div>
      </ng-template>
    </ng-container>

    <ng-template #deletedTpl>
      <p class="body deleted-text">(deleted)</p>
    </ng-template>
  </article>
</div>
